@font-face {
  font-family: "retro";
  src: url("/fonts/A-Goblin-Appears.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 1rem = 16px */

html {
  font-size: 3.2vw;
  font-family: "retro";
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* START SCRREN */

#start-screen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

#game-title {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
}

#start-screen-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 15%;
}

.start-button {
  border: 2px solid yellow;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
}

/* CUSTOM MENU SCREEN */

#custom-game-menu {
  background-color: red;
}

/* GAME SCREEN */

/* END GAME SCREEN */

/* PIECES */
