@font-face {
  font-family: "retro";
  src: url("fonts/A-Goblin-Appears.ttf.woff") format("woff"),
    url("fonts/A-Goblin-Appears.ttf.svg#A-Goblin-Appears") format("svg"),
    url("fonts/A-Goblin-Appears.ttf.eot"),
    url("fonts/A-Goblin-Appears.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* 1rem = 16px */

html {
  font-size: 3.2vw;
  font-family: "retro", Tahoma, Verdana, sans-serif;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* START SCRREN */

#start-screen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  visibility: visible;
}

#game-title {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
}

#start-screen-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 15%;
}

.start-button {
  border: 2px solid yellow;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
}

/* CUSTOM MENU SCREEN */

#custom-game-menu-screen {
  background-color: green;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: visible;
  z-index: 800;
}

#custom-game-menu-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#custom-menu {
  width: 80%;
  height: 70%;
}

#custom-menu-buttons {
  margin: 0;

  padding-top: 1%;
  height: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.custom-menu-button {
  margin: 0;
  border: 5px solid red;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* GAME SCREEN */
#game-screen {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  visibility: hidden;
  z-index: 800;
}

#board {
  margin: 0;
  border: 2px solid red;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.row {
  background-color: black;
  margin: 0;
  border: 1px solid yellow;
  height: 100%;
  width: 100%;
  display: flex;
}

.slot {
  background-color: white;
  margin: 0;
  border: 5px solid green;
  border-radius: 50%;
  width: 100%;
}

/* END GAME SCREEN */
#end-game-screen {
  background-color: green;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
  z-index: 200;
}

/* PIECES */
